<section>
  <div class="mx-auto max-w-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl mb-12">Shopping cart</h2>
    </header>
    <div data-controller="cart">
      <div class="flow-root">
        <ul id="cart_items" role="list" class="-my-6 divide-y divide-gray-200">
        </ul>
      </div>
      <div id="cart-total"></div>
      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <button
          class="block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
          data-action="click->cart#clearAll"
          >
          Clear Cart
        </a>
        <button
            class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
            data-action="click->cart#chekout"
          >
          Checkout
        </button>
      </div>
    </div>
  </div>
</section>
